@charset "UTF-8";
@media screen and (min-width:320px) and (max-width:480px){
    .link{
        font-size: 12px;
    }
    .link::before{
        width: 10px;
        height: 10px;
        margin: 10px;
    }
}