@charset "UTF-8";
#boxTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: #3A4042;
    width: 175px;
    height:75px;
    box-shadow: 5px 5px 0px black;
    margin-top:50px;

    text-align: center;
    text-shadow:2px 2px 0px black;
    
}
#boxButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    margin-top: 40px;
}
#boxImgSemFoco{
    display: flex;
    flex-direction: column;
    align-items: center;

    background: url(../../imgs/photo2.jpg) no-repeat;
    background-size:100% 100%;
    background-position: 0px -2px;
    width:67%;
    height: inherit;
    border-right:solid 5px black;
    box-sizing: border-box;
}
#wrapper-Project{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}