@charset "UTF-8";
.link{
    display: inline-flex;
    align-items: center;
    
    color: white;
}
.link::before{
    content: "";
    background-color:var(--yellow_or_red);
    width: 5px;
    height: 5px;
    margin:5px;
}