@charset "UTF-8";
.all-items{
    display: flex;
    flex-direction: column;

    width: 100%;
}
.all-items > .p, .main-title{
    width: 90%;
    margin: auto;
}
.all-items > p{
    font-family: inter;
    font-size: 14px;;
    color:#475467;
}