@charset "UTF-8";
.main-button{
    background-color: #FF5C00;
    width: 92%;
    height: 54px;
    line-height: 54px;
    border: none;
    border-radius: 25px;
    
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    font-family: inter;
}

.main-button._menu-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 277px;
    height: 56px;
    border-radius: 30px;
    margin-bottom: 10px;

    position: fixed;
    right: 50%;
    left:31%;
    top:calc(100%-1px);
    
    bottom:0px;
}

.main-button._addCart{
    width: 216px;
}
.main-button._add{
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.main-button:hover{
    background-color: #ff6e1b;
}