@charset "UTF-8";
  @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Passion+One:wght@700;900&family=Press+Start+2P&display=swap');
.main-body{
    background-color: red;
    width:100%;
    height:100%;
    margin: 0px;
    padding: 0px;
}