@charset "UTF-8";
.menu-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    width: 277px;
    height: 56px;
    background-color: #FF5C00;
    border-radius: 30px;
    margin-bottom: 10px;

    position: fixed;
    right: 20%;
    top:calc(100%-1px);
    left: 20%;
    bottom:0px;
}