@charset "UTF-8";
.trending-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 256px;
    width: 100%;
}
.trending-items > div{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
}
.trending-items > div > .title{
    display: block;
    font-size: 18px;
    font-weight: 700;
    font-family: inter;
}
.trending-items > div > ul{
    display: flex;
}
.trending-items > div > ul > .ball{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#F0F0F0;
    margin: 0px 5px;
}
.trending-items > div > ul > .ball:hover{
    width:26px;
    border-radius: 30px;
    background-color: #ff5c00;
}