@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}