@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf) format(opentype);
}
@keyframes Fadein{
    from{
        opacity:0;
    }to{
        opacity:1;
    }
}



*{
    margin: 0px;
    padding:0px;
}
body,html{
    background-color:white;
    width: 100%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    text-align:justify;
    font-weight:500;

    padding: 10px 35px;
    margin: auto;
}
/*================== HEADER =======================*/

header{
    background-image: linear-gradient(to bottom, rgb(0, 199, 0), rgb(1, 63, 1));
    width: 100%;
    height: 275px;
}
header>h1{
    font-family:'Bebas Neue', cursive;
    color:white;
    
    text-align: center;
    font-size:3.5em;

    padding: 10px 0px 10px 0px;
    
}
header>p{
    color:white;

    position: relative;
    display: inline-block;
    text-align:center;
    font-size:0.915em;
    left:50%; transform:translate(-50%);
    margin: auto;
}
menu{
    display: inline-block;
    position:relative;
    top:15px;
    left: 50%; transform:translate(-50%);
}
header>menu>a{
    color:white;

    text-decoration: none;
    font-weight: 700;
    text-align:center;

    display: inline-block;
    margin-left: 5px;
    padding: 5px 5px;
}
header>menu>a:hover{
    color:black;

    background-color:rgb(52, 146, 52);
    border-radius: 7px;
    animation: Fadein 0.70s;
}



/*=================== MAIN ========================*/
section>.style_article>h1,h2{
    font-family: idroid;
    color: rgb(0, 41, 0);
    text-align: center;

    
    margin: 20px 0px 0px 0px;
}
section>.style_article>h1{
    font-size: 1.3em;
}
section>.style_article>h2{
    font-size: 1.1em;
    background-image: linear-gradient(to right, white, rgba(0, 128, 0, 0.342), white);

    padding: 2px 0px;
}
.style_article>p{
    text-indent:50px;
}
.big_screen{
    display: none;
}
.style_img{
    position:relative;
    width:300px;
    height:300px;
    left: 50%; transform:translate(-50%)
}
#img_bugdroid{
    width:350px;
    height: 227px;;
}
#article_video{
    background-color: rgb(2, 49, 2);
    padding:15px;
}
iframe{
    position: relative;
    left:50%; transform:translate(-50%)
}

/*================== ARTICLE APRENDER MAIS =======================*/
#article_aprender>h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

    display: block;
    background-color: darkgreen;
    margin: 10px 10px 0px 10px;
    border-radius:10px 10px 0px 0px;
    padding: 5px 0px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-top: solid black 1px;
}
#div_aprender{
    background-color: rgb(188, 255, 188);
    margin: 0px 10px;
    border-radius: 0px 0px 10px 10px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}
ul{
    list-style-type: none;/*"\2714\00a0";*/
    columns: 2;
    text-align:center;
}

/*======  ============= FOOTER =======================*/
#article_aprender>p{
    text-indent:50px;
}
footer{
    position: relative;
    background-color:rgb(2, 49, 2);
    height:40px;
}
footer>p{
    font-size:0.6em;
    color: white;
    text-align:center;
    padding: -10px -35px;
}