@charset "UTF-8";
.main-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width:92%;
    height: 75%;

    color: white;
    font-family: 'Fira Code';
}
.main-form div{
    display: flex;
    flex-direction: column;
}
.main-form input{
    border: 3px solid black;
    height: 22px;

    font-size: 20px;
}
.main-form textarea{
    border: 3px solid black;
    font-size: 20px;
}