@charset "UTF-8";
.main-figure{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 240px;
    height: 75px;
}
.main-figure .imgSkills{
    width: 60px;
}
.main-figure figcaption{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: inherit;

}
.main-figure figcaption p{
    color: white;
    font-family: 'Press Start 2P';
}