@charset "UTF-8";
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: darkblue;
    width: inherit;
    height: 100px;
    padding: 10px 0px;
    border-top: solid 4px black;
}