@charset "UTF-8";

body{
    background-image: url(imgs/wall-blocks-600x400.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    font: normal 1em 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 96vw;
    height: 92.2vh;
}h1{
    background-color: rgb(245,230,232);
    border: 7px;
    border-color: white;
    border-style: groove;
    margin: 40px auto 40px auto;
    padding: 10px 20px 20px 20px;
    width: 150px;
    height: 25px;
    text-align:center
}main{
    background-color: rgba(255, 255, 255, 0.76); outline:black solid 5px; border:red solid 2px;
    max-width: 400px;
    margin: auto;
}
#voltar{
    background-color: black;outline: red solid 3px;
    padding: 3px;
    color:white;
    text-decoration: none;
}spen{
    display:none;
}
.d1:hover > spen{
    display:inline;
    
}.d1{
    color: black;
    text-decoration: none;
}li{
    text-align: center;
}