@charset "UTF-8";
.box-title{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;

    position: relative;
    left: 50%;
    top: 30%;
    background-color: #3A4042;
    width: 175px;
    height:50px;
    box-shadow: 5px 5px 0px black;
    margin-top:50px;

    text-align: center;
    text-shadow:2px 2px 0px black;
}