@charset "UTF-8";
#boxSkillsMain{
    display: flex;
    justify-content: space-evenly;
    
    width: 100%;
    height: 225px;
}
#boxSkillsMain p{
    color: white;
    font-family: 'press start 2p';
    font-size: 0.6em;
    margin-bottom:5px;
}
.boxSkills{
    display: flex;
    height:inherit;
}
.boxIcons{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;

    height:inherit;
    width: 50px;
    text-align: center;
    margin-right:10px;
}
.boxInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    text-align: left;
    height:inherit;
    width:125px;
}
.imgIco{
    width:35px;
    height:35px;
}