@charset "UTF-8";
.main-link{
    display: inline-flex;
    align-items: center;
    
    color: white;
}
.main-link::before{
    display: inline-block;
    content: "";
    background-color:var(--yellow_or_red);
    width: 5px;
    height: 5px;
    margin:5px;
}