@charset "UTF-8";
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 75%;

    font-size: 0.85em;
    text-align: right;
}
.main-nav div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
    height: 70%;
    width: 60%;
}
.main-nav div a{
    display: inline-block;
    text-align: left;
}