@charset "UTF-8";
.main-section{
    background-image:url(../../imgs/photo.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    border-bottom: solid 7px black;
    height:500px;
    display: none;
}
.main-section._two{
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    
    background-image: none;
    background-color: #1C5D99;
    border-bottom: solid 7px var(--yellow_or_red);
}
.main-section._three{
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;

    background-image: none;
    background:black;
    height: 320px;
    border-bottom: solid 7px var(--yellow_or_red);
}
.main-section._four{
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    
    background-image: none;
    background:var(--blue);
    border-bottom: solid 7px black;
}
.main-section._five{
    display: flex;
    display: none;
    flex-direction:column;
    align-items: center;

    background-image: none;
    background:rgb(1, 1, 92);
    border-bottom: solid 7px black;
}