@charset "UTF-8";
@media screen and (min-width:320px) and (max-width:480px){
    .main-footer{
        height: 35px;
        background-color: red;
    }
    .main-footer div{
        width: 115px;
    }
    .main-footer div img{
        width: 20px;
    }
}