@charset "UTF-8";
@media screen and (min-width:320px) and (max-width:480px){
    .main-button{
        width: 175px;
        height: 50px;
        box-shadow:2px 2px 0px black;

        font-size:12px;
        line-height: 40px;
    }
    .main-button:hover{
        font-size:13px
    }
    .main-section .box-title div .main-button{
        width:75px;
        height: 30px;
        line-height: 30px;

        font-size: 10px;
    }
    .main-button._sectionContact{
        width: 100%;
        height: 28px;
        line-height: 28px;
        margin-top: 5px;
    }
    .main-button._sectionContact:hover{
        width: 100%;
        height: 28px;
        line-height: 28px;
    }
}