@charset "UTF-8";
@media screen and (min-width:320px) and (max-width:480px){
    .main-subtitle{
        font-size: 8px;
        text-shadow: 1px 1px 0px black;
    }
    .main-subtitle._opt1{
        color: #F25A70;
        font-size: 8.5px;
    }
}