@charset "UTF-8";
@media screen and (min-width:320px) and (max-width:480px){
    .main-section{
        background-size:cover;
        background-position: center;
        height: 320px;
    }
    .main-section._projects{
        height: 200px;
    }
    .main-section._about{
        padding-top: 25px;
    }
}