@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
hr{
    display: none;
}
html{
    background-color: rgb(25,42,81);
}
/*================== HEADER =================*/
.sectionpaleta{
    display: none;
}
img{
    display: none;
}
header{
    background-color: darkblue;
    height: 150px;

    text-align: center;
    vertical-align: middle;
}
header>.text{
    display: block;
    position:relative;
    top:71px;
    background-color: darkred;
    padding: 3px 0px;
    
}
/*================== MAIN =================*/
/*================== FOOTER=================*/