@charset "UTF-8";
body{                                       /*estilo geral da pagina*/
    background-color: rgb(25,42,81);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{text-decoration: none;}                  /*text-decoration está desativado para todos os links*/
.sectionpaleta{                             /*estilo da seção das paletas em uso*/
    background-color: rgba(213, 198, 224, 0.411);
    max-width: 150px;
    max-height: 400px;
    padding: 10px;
}h1, h2, h3, p, .titulo_paleta{                   /*A letra desses elementos são da cor Branca*/
    color: white;
}.titulo_paleta{                            /*estilo do título "Paleta de cores", na linha 18*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    text-align: center;
}.mark1{                                    /*marks 1 a 5: atribui uma cor difirente*/
    background-color: rgb(245,230,232);
}.mark2{
    background-color: rgb(150,122,161);
}.mark3{
    background-color: rgb(25,42,81);
    color: white;
}.mark4{
    background-color: rgb(213,198,224);
}.mark5{
    background-color: rgb(170,161,200);
}img{                                       /*posição da imagem "AREA DE TESTE"*/
    position: absolute; /*tem tbm: fixed e relative*/
    left: 45%;
    top: 18px;
    max-width: 240px;
    max-height: 220px;
}div > .pp{                                   /*elemento p é filho do elemento div - config faz esconder o elemento p*/
    display: none;
}div:hover > .pp{                             /*elemento p é filho do elemento div - pseudo-class HOVER faz uma ação quando mouse passa em cima dele - config faz aparecer o elemento p*/
    display: block;      
}.span2{                                    /*config da cor da letra para vermelho*/
    color: red;
    text-shadow: 0px 0px 5px white;
}.span1{                                    /*config da cor da letra para verde*/
    color:green;
    text-shadow: 0px 0px 5px white;
}
/*===================== MAIN =================================*/
/*============================================================*/
.imagem_fundo{                             /*imagem de fundo do main_principal*/
    background-image: url(../imgs/wall-blocks-1024x768.jpg);
    background-repeat: no-repeat; background-size: cover; background-attachment: fixed;
}#main_principal{                           /*estilo do main principal da pagina*/
    background-color: rgb(213,198,224);
    border-radius: 15px; padding: 10px; margin:auto;
    max-width: 500px;
    max-height: 2000px;
}#div_main_principal{                       /*ajustes da caixa para colocar a imagem de fundo*/
    margin: 0px -10px; padding: 20px; outline: rgb(15, 27, 54) solid 4px;
}#titulo{                                   /*estilo do titulo principal da pagina("Let's go?"), na linha 30*/
    border-radius: 50px; padding:10px; margin: 15px auto; max-width: 300px;
    color: black;
    text-align:center; text-shadow: 0px 0px 10px white;
    font:lighter 2.2em impact;/*weight size family*/
}
/*=============================== EXERCICIOS =================*/
/*============================================================*/
#main_principal>h3{
    cursor:pointer;
    text-align:center;
    color: black;
}
#main_principal>#list_exerc{
    display: none;
    text-align:center;
    
}

.estilocaminho{/*A letra desses elementos são da cor Preto*/
    color: black;
}.estilocaminho:hover{                      /*estilo de todos os sub-titulos do Main principal quando HOVER for ativado"*/
    color:rgb(245,230,232);
    text-shadow: 0px 0px 7px black;
    font-size: 1.1em;
}.estiloAdd:hover{                /*estilo do sub-titulo "Exercise Eleven", na linha 41, quando HOVER for ativado*/
    color:rgb(245, 230, 232);
    text-shadow: 0px 0px 7px black;
    font-size: 1.1em;
}

#six:hover::after{          /*Add conteudo no elemento, quando HOVER for ativado*/
    content:' ► Exercicio sobre semântica';
    font-style: italic;
}#eleven:hover::after{         /*Add conteudo no eleemento, quando HOVER for ativado*/
    content:' ► Exercicio sobre Imagem dinamica e audio';
    font-style: italic;
}#thirteen:hover::after{       /*Add conteudo no elemento, quando HOVER for ativado*/
    content: ' ► Exercicio sobre a tecnica Inline, no CSS';
    font-style: italic;
}#fourteen:hover::after{
    content: ' ► Exercicio sobre a tecnica Local/Interna, no CSS';
    font-style: italic;
}#fifteen:hover::after{
    content:' ► Exercicio sobre a tecnica externa, no CSS';
    font-style: italic;
}#eighteen:hover::after{
    content:' ► Uso de fontes com o Google Fontes';
    font-style: italic;
}

.hide_word{/*ESCONDE ALGUMAS PALAVRAS DO EXERCICIO 20*/
    display: none;
}.hide_word>a{
    color: rgb(245,230,232);
    text-shadow: 0px 0px 7px black;
    font-size:1.1em;
}.estilocaminho:hover>.hide_word{
    display:inline;
}.hide_word>a:hover{
    text-decoration: underline;
}
/*================ FOOTER ======================================*/
/*================================================================*/
.subtitulo:hover{                           /*estilo da class subtitulo, quando HOVER for ativado*/
    text-shadow: 0px 0px 7px rgb(213,198,224);
    
}