@charset "UTF-8";
.progress-bar{
    height: 20px;
    width: 120px;
    border: solid 3px black;
    
    
}
.progress-bar::-webkit-progress-bar{
    background-color: white;
}
.progress-bar::-webkit-progress-value{
    background-color: var(--yellow_or_red);
}